  #todo-list-item {
    overflow-y: scroll;
  }
  
  #todo-item-header {
    border-bottom: 1px solid #ddd;
  }

  .panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
  }

  .panel-default {
    border-color: #ddd;
    border-radius: 4px;
  }

  .panel-header {
    padding: 10px 15px;
    font-size: 20px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #ddd;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .panel-footer {
    padding: 10px;
    background-color: #f5f5f5;
  }

  .panel-footer button {
    width: 100%;
  }
  
  #todo-list-item {
    overflow-y: scroll;
  }